
// note
.markdown-body
    .note
        color var(--text-color) !important

        a
            color var(--text-color) !important

    .note-primary
        background-color rgba(183, 160, 224, 0.2) !important

    .note-secondary, note-default
        background-color rgba(187, 187, 187, 0.2) !important

    .note-success
        background-color rgba(174, 220, 174, 0.2) !important

    .note-danger
        background-color rgba(236, 169, 167, 0.2) !important

    .note-warning
        background-color rgba(248, 214, 166, 0.2) !important

    .note-info
        background-color rgba(160, 197, 228, 0.2) !important

    .note-light
        background-color rgba(254, 254, 254, 0.2) !important
