
// note
.note
    color var(--text-color)

    a
        color var(--text-color)

.note-primary
    background-color rgba(183, 160, 224, 0.2)

.note-secondary, note-default
    background-color rgba(187, 187, 187, 0.2)

.note-success
    background-color rgba(174, 220, 174, 0.2)

.note-danger
    background-color rgba(236, 169, 167, 0.2)

.note-warning
    background-color rgba(248, 214, 166, 0.2)

.note-info
    background-color rgba(160, 197, 228, 0.2)

.note-light
    background-color rgba(254, 254, 254, 0.2)
