// label
.label
  color var(--text-color)

.label-default
  background rgba(187, 187, 187, 0.2)

.label-primary
  background rgba(183, 160, 224, 0.2)

.label-info
  background rgba(160, 197, 228, 0.2)

.label-success
  background rgba(174, 220, 174, 0.2)

.label-warning
  background rgba(248, 214, 166, 0.2)

.label-danger
  background rgba(236, 169, 167, 0.2)
