.gsoc
  h2
    margin-top: 0em
  .index-card
    // set round corners
    margin-bottom: 1em
    border-radius: 0.5em
    background-color: #f5f4f9
    transition: all 0.2s ease-in-out
  .index-card:hover
    border-radius: 0.5em
    background-color: #e5e2f1
    transition: all 0.2s ease-in-out

[data-user-color-scheme=dark] .gsoc
  .index-card
    // set round corners
    background-color: #403b5f
  .index-card:hover
    background-color: #4c3d6f
