.hidden
    font-size 10px
    color #f8f7fb!important
    transition color .2s ease-in-out !important
    > a:not(.anchorjs-link,.btn,.footnote-backref),.index-header a:not(.anchorjs-link)
        color #f8f7fb!important
        box-shadow: inset 0 -3px 0 #f9f7ff !important
        text-decoration none !important
        background-color transparent !important
        background-image none !important
        background-size 0 !important
        background-position 0 !important
        background-repeat none !important
        transition color .2s ease-in-out, box-shadow .2s ease-in-out !important

[data-user-color-scheme='dark'] .hidden
    font-size 10px
    color #22222f !important
    transition color .2s ease-in-out !important
    > a:not(.anchorjs-link,.btn,.footnote-backref),.index-header a:not(.anchorjs-link)
        color #22222f !important
        box-shadow: inset 0 -3px 0 rgb(52, 52, 70) !important
        transition color .2s ease-in-out, box-shadow .2s ease-in-out !important
