.markdown-body
  table
    tr:nth-child(2n)
      background-color rgb(248, 246, 250)!important


[data-user-color-scheme=dark] .markdown-body
  table
    tr
      background-color #171721 !important
    tr:nth-child(2n)
      background-color #1f1f30 !important
